body{
    background-image: url("https://t3.ftcdn.net/jpg/06/33/38/88/360_F_633388889_VEg0OqXK3ZRAz22w4zOK7K1FWpbCi7Mg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div{
    background-color: black;
    color: aliceblue;
    
}